@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Asap";
    src: url("/public/asap.ttf");
    font-display: swap;
}

@font-face {
    font-family: "VarelaRound";
    src: url("/public/varelaRound.ttf");
    font-display: swap;
}

@layer components {
    .bezel-xs {
        box-shadow: inset 0 1px 0 0 hsla(0,0%,100%,.2), inset 0 -1px 0 0 rgba(0,0,0,.25), 0 1px 3px 0 rgba(0,0,0,.1) !important;
    }
    .bezel {
        box-shadow: inset 0 2px 0 0 hsla(0,0%,100%,.2), inset 0 -1px 0 0 rgba(0,0,0,.25), 0 2px 6px 0 rgba(0,0,0,.1) !important;
    }
    .bezel-lg {
        box-shadow: inset 0 3px 0 0 hsla(0,0%,100%,.2), inset 0 -2px 0 0 rgba(0,0,0,.25), 0 2px 6px 0 rgba(0,0,0,.1) !important;
    }
}